@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

html{
  width: 100vw;
  height: 100vh;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  
  header{
    color: white;
    font-size: 25px;
    font-family: "Pacifico", cursive;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgb(3, 3, 26);
  }
  
  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin-bottom: 30px;
  }

  h1{
    font-family: "Archivo", sans-serif;
  }

  label{
    font-family: "Archivo", sans-serif;
  }

#subtitle{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: left;
  margin-left: 150px;
}

#posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#postSpan{
  font-family: "Archivo", sans-serif;
}

h2{
  font-family: "Archivo", sans-serif;
  margin: 0px;
}

ul{
  list-style-type: none;
  gap: 5px;
  padding: 0px;
  margin: 0px;
}

li{
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

img{
  width: 30%;
  height: 40%;
  margin: 20px;
}

#h2Titulo{
  margin-top: 20px;
}

p{
  font-family: "Archivo", sans-serif;
  margin-top: 16px;
}

input{
  width: 250px;
  border-radius: 3px;
}

#corpo{
  height: 40px;
}

button{
  font-size: 20px;
  font-family: "Archivo", sans-serif;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: rgb(34, 34, 50);
  padding: 10px;
}